//TESTIMONIALS
.testomonials
  padding 80px 0
  background-color bgColor
.slidertestimonials
  width 1030px
  height 316px
  background #fff
  margin auto
  &_item
    padding-top: 50px
    width 1130px
  &_img1
    display inline-block
    vertical-align top
    margin-left 70px
  &_name
    color mainAccent
    font-size 16px
    font-weight 700
    text-transform uppercase
    margin 0
  &_position
    color textAccent
    font-size 14px
    margin 0
  &_describe
    display inline-block
    text-align right
    vertical-align top
    width 650px
    margin-left 5%
    text-align left

.text_testomonials
  padding-bottom 0
