//FOOTER
#footer.footer
    +icon('logo-dark')
    p.text Copyright 2015. All rights Reserved
    .social
        a(href="#")
            img(src='static/img/content/facebook.png')
        a(href="#")
            img(src='static/img/content/twitter.png')
        a(href="#")
            img(src='static/img/content/linkedin.png')
        a(href="#")
            img(src='static/img/content/in.png')
        a(href="#")
            img(src='static/img/content/vimeo.png')
