//HEADER
.header
    .container
        .nav
            +icon('logo')
            .nav_text
                a.nav_item Hello
                a.nav_item(href="#portfolio") Portfolio
                a.nav_item(href="#team") Team
                a.nav_item(href="#contuctus") Contact
        .header_banner
            h1.header_title We Are Code Cafe
            p.header_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            a.header_arrow(href="#portfolio")