//PORTFOLIO
#portfolio.portfolio
    .container
        .portfolio_header
            h2.title portfolio
            p.text.
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            ul.portfolio_filters
                li.portfolio_filter.active-filter(data-filter="*") All works
                li.portfolio_filter(data-filter=".print") Print
                li.portfolio_filter(data-filter=".branding") Branding
                li.portfolio_filter(data-filter=".web") Web
                li.portfolio_filter(data-filter=".html") HTML
        .portfolio_works
            .portfolio_item.html
                img(src='static/img/content/work-1.jpg' alt='work')
            .portfolio_item.print
                img(src='static/img/content/work-2.jpg' alt='work')
            .portfolio_item.print
                img(src='static/img/content/work-3.jpg' alt='work')
            .portfolio_item.web
                img(src='static/img/content/work-4.jpg' alt='work')
            .portfolio_item.branding
                img(src='static/img/content/work-5.jpg' alt='work')
            .portfolio_item.branding
                img(src='static/img/content/work-6.jpg' alt='work')
            .portfolio_item.branding
                img(src='static/img/content/work-7.jpg' alt='work')
            .portfolio_item.web
                img(src='static/img/content/work-8.jpg' alt='work')
            .portfolio_item.branding
                img(src='static/img/content/work-9.jpg' alt='work')
            .portfolio_item.print
                img(src='static/img/content/work-10.jpg' alt='work')
            .portfolio_item.branding
                img(src='static/img/content/work-11.jpg' alt='work')
            .portfolio_item.html
                img(src='static/img/content/work-12.jpg' alt='work')
