//TEAM
#team.team
    .container
        .portfolio_header
            h2.title the team
            p.text.
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        .slider
            .slider_item
                img.slider_img(src='../static/img/content/team-1.jpg')
                .slider_describe
                    h3.slider_name Abdullah Noman
                    p.slider_position Creative Director, Code Cafe
                    p.text.text__slider.
                        At vero eos et accusamus et iusto odio dignissimos ducimus
                        qui blanditiis praesentium. At vero eos et accusamus et iusto
                        odio dignissimos ducimus qui blanditiis praesentium. At vero eos et
                        accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus
                        qui blanditiis praesentium.
            .slider_item
                img.slider_img(src='../static/img/content/team-1.jpg')
                .slider_describe
                    h3.slider_name Abdullah Noman
                    p.slider_position Creative Director, Code Cafe
                    p.text.text__slider.
                        At vero eos et accusamus et iusto odio dignissimos ducimus
                        qui blanditiis praesentium. At vero eos et accusamus et iusto
                        odio dignissimos ducimus qui blanditiis praesentium. At vero eos et
                        accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus
                        qui blanditiis praesentium.
            .slider_item
                img.slider_img(src='../static/img/content/team-1.jpg')
                .slider_describe
                    h3.slider_name Abdullah Noman
                    p.slider_position Creative Director, Code Cafe
                    p.text.text__slider.
                        At vero eos et accusamus et iusto odio dignissimos ducimus
                        qui blanditiis praesentium. At vero eos et accusamus et iusto
                        odio dignissimos ducimus qui blanditiis praesentium. At vero eos et
                        accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus
                        qui blanditiis praesentium.
