//TESTOMONIALS
#testomonials.testomonials
    .container
        .portfolio_header
            h2.title Testimonials
            p.text.
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        .slidertestimonials
            .slidertestimonials_item
                img.slidertestimonials_img1(src='../static/img/content/team-2.png')
                .slidertestimonials_describe
                    p.text.text_testomonials.
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt
                        mollitia.
                    p.slidertestimonials_name PARTHO
                    p.slidertestimonials_position FOUNDER, ARTWAYS BD
            .slidertestimonials_item
                img.slidertestimonials_img1(src='../static/img/content/team-2.png')
                .slidertestimonials_describe
                    p.text.text_testomonials.
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
                    p.slidertestimonials_name PARTHO
                    p.slidertestimonials_position FOUNDER, ARTWAYS BD
            .slidertestimonials_item
                img.slidertestimonials_img1(src='../static/img/content/team-2.png')
                .slidertestimonials_describe
                    p.text.text_testomonials.
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt
                        mollitia.
                    p.slidertestimonials_name PARTHO
                    p.slidertestimonials_position FOUNDER, ARTWAYS BD




