@import 'utils/fonts.styl'
@import 'utils/vars.styl'
@import 'utils/mixins.styl'
@import 'libs.styl'

//MAIN
body
	color mainColor
	font 14px main-font-family
a
	text-decoration none
.title
	font 20px title-font-family
	text-transform uppercase
	letter-spacing .2 rem
	padding-bottom 25px
.text
	font-size 14px
	line-height 25px
	letter-spacing .05rem
	padding-bottom 80px
.container
	max-width 1170px
	margin 0 auto

//MODULES
@import "modules/modules.styl"

