//PORTFOLIO
.portfolio
    background-color bgColor
    padding 70px 125px
    &_header
        max-width 485px
        margin 0 auto
        text-align center
    &_filter
        color  textAccent
        line-height 12px
        display inline-block
        font-weight 600
        padding 0 13px
        position relative
        cursor pointer
    &_works
        width 100%
        padding-top 60px
        display flex
        flex-wrap wrap
    &_item
        padding 2px

.active-filter
    &:after
        content ''
        height 2px
        width 38px
        background-color #19bd9a
        position absolute
        left 50%
        margin-left -19px
        margin-top 25px


