include ../mixins
include ../variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title Exam2
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:300" rel="stylesheet")
        link(rel="stylesheet" type='text/css' href="static/css/main.css")
        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
    body

        include ../modules/header
        include ../modules/portfolio
        include ../modules/team
        include ../modules/contact
        include ../modules/testomonials
        include ../modules/contactus
        include ../modules/footer
    script(src="static/js/jquery.js")
    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")
    script(src!="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer)
