//FOOTER
.footer
  min-width 1170px
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 70px 0
.icon-logo-dark
  width 113px
  height 19px
.social
  display flex
  flex-direction row
  justify-content center
  &_item
    width 25px
    height 25px
  a
    margin-left 10px
    &:first-child
       margin-left 10px

