//TEAM
.team
  padding-top 70px
.slider
  width 1030px
  margin 0 auto
  padding-bottom 100px
  &_img
    display inline-block
    vertical-align top
    margin-right 70px
  &_name
    color textAccent
    font-size 20px
  &_describe
    display inline-block
    width 400px
    text-align right
    vertical-align top
    position relative
    margin-left 20%
    padding-right 50px
    &::before
      content ''
      width 4px
      height 42px
      background-color #19bd9a
      position absolute
      right -0
.text__slider
  padding-bottom 0




