//CONTACT
.contact
  background url(../img/general/bg-contact.jpg) no-repeat
  width 100%
  height 200px
  display flex
  flex-direction column
  justify-content center
  align-items center
  &_text
    font 400 20px main-font-family
    color  textColor

